# 2021 AI Competition hosted by Hoseo University.

## Team Acc100
(Minseok Song, 희중 Kim, Jesung Lim)

Our members belong to the I.E.(Intelligent Engineering) laboratory in Hoseo University.

## Importng.

In [1]:
# data analysis and wrangling
import numpy as np
import pandas as pd
import json

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning

## Acquire Data

We were provided with two data files.<br>
They mean training datasets and test datasets.

In [2]:
train_df = pd.read_csv("train.csv", encoding='euc-kr')
test_df = pd.read_csv("test.csv", encoding="euc-kr")

In [3]:
train_df.shape

(10000, 5)

In [4]:
train_df.dtypes

분석데이터               int64
label               int64
Feature_Group_A    object
Feature_Group_B    object
Feature_Group_C    object
dtype: object

In [5]:
print(train_df.columns.values)

['분석데이터' 'label' 'Feature_Group_A' 'Feature_Group_B' 'Feature_Group_C']

In [6]:
train_df.head()

,분석데이터,label,Feature_Group_A,Feature_Group_B,Feature_Group_C
0,1,1,"[2399, 572, 519, 673, 555, 516, 558, 510, 709,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","{'numstrings': 655, 'avlength': 6.077862595419..."
1,2,1,"[183376, 8477, 4514, 3921, 7260, 2869, 2414, 2...","[1008, 0, 0, 6, 9, 6, 3, 0, 0, 0, 3, 3, 9, 0, ...","{'numstrings': 3312, 'avlength': 24.9393115942..."
2,3,0,"[1178, 28, 9, 6, 20, 4, 6, 0, 2, 2, 4, 3, 1, 3...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","{'numstrings': 4, 'avlength': 58.5, 'printable..."
3,4,0,"[56851, 2625, 1520, 1351, 3266, 802, 1173, 681...","[14336, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","{'numstrings': 1105, 'avlength': 16.4371040723..."
4,5,1,"[124274, 5778, 3669, 3595, 6210, 11804, 12076,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","{'numstrings': 2018, 'avlength': 13.9380574826..."

In [7]:
train_df.tail()

,분석데이터,label,Feature_Group_A,Feature_Group_B,Feature_Group_C
9995,9996,1,"[255044, 17531, 8711, 7958, 17524, 7218, 7336,...","[28672, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","{'numstrings': 8980, 'avlength': 23.2523385300..."
9996,9997,0,"[181296, 5127, 4027, 5738, 5468, 1564, 1349, 4...","[16384, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","{'numstrings': 2602, 'avlength': 10.2882398155..."
9997,9998,0,"[68736, 2344, 1699, 1073, 1604, 756, 877, 934,...","[42986, 0, 0, 0, 1, 5, 0, 1, 0, 2, 0, 1, 4, 1,...","{'numstrings': 2205, 'avlength': 12.7360544217..."
9998,9999,1,"[90648, 1338, 964, 1440, 1677, 2390, 674, 740,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","{'numstrings': 804, 'avlength': 9.580845771144..."
9999,10000,0,"[14738, 720, 159, 103, 355, 83, 51, 42, 210, 5...","[16325, 17, 3, 1, 2, 9, 2, 6, 5, 2, 7, 1, 1, 1...","{'numstrings': 144, 'avlength': 12.29861111111..."

In [8]:
train_df.info()
print('_'*40)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   분석데이터            10000 non-null  int64
 1   label            10000 non-null  int64
 2   Feature_Group_A  10000 non-null  object
 3   Feature_Group_B  10000 non-null  object
 4   Feature_Group_C  10000 non-null  object
dtypes: int64(2), object(3)
memory usage: 390.8+ KB
________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   분석대상             5000 non-null   int64
 1   Feature_Group_A  5000 non-null   object
 2   Feature_Group_B  5000 non-null   object
 3   Feature_Group_C  5000 non-null   object
dtypes: int64(1), object(3)
memory usage: 156.4+ KB

In [9]:
train_df['Feature_Group_C'][0]

"{'numstrings': 655, 'avlength': 6.077862595419847, 'printabledist': [57, 37, 41, 41, 33, 27, 38, 35, 30, 23, 35, 35, 41, 20, 46, 33, 42, 21, 51, 37, 42, 36, 36, 34, 25, 27, 36, 32, 26, 24, 26, 30, 48, 61, 52, 61, 50, 50, 41, 44, 36, 33, 38, 27, 49, 46, 49, 58, 58, 52, 61, 60, 50, 39, 72, 42, 29, 39, 44, 27, 44, 28, 34, 46, 45, 60, 62, 52, 48, 69, 37, 39, 48, 64, 52, 38, 60, 42, 55, 70, 29, 20, 62, 54, 49, 55, 44, 32, 26, 32, 28, 30, 33, 23, 26, 32], 'printables': 3981, 'entropy': 6.519481182098389, 'paths': 0, 'urls': 0, 'registry': 0, 'MZ': 4}"

In [10]:
modify_feature_group_C = train_df['Feature_Group_C']

In [11]:
modify_feature_group_C.tail(5)

9995    {'numstrings': 8980, 'avlength': 23.2523385300...
9996    {'numstrings': 2602, 'avlength': 10.2882398155...
9997    {'numstrings': 2205, 'avlength': 12.7360544217...
9998    {'numstrings': 804, 'avlength': 9.580845771144...
9999    {'numstrings': 144, 'avlength': 12.29861111111...
Name: Feature_Group_C, dtype: object

In [12]:
characters = "\'"

for x in range(len(modify_feature_group_C)):
    for y in range(len(characters)):
        modify_feature_group_C[x] = modify_feature_group_C[x].replace(characters[y],"\"")

print(modify_feature_group_C)

<ipython-input-12-caecc5cc5823>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  modify_feature_group_C[x] = modify_feature_group_C[x].replace(characters[y],"\"")

0       {"numstrings": 655, "avlength": 6.077862595419...
1       {"numstrings": 3312, "avlength": 24.9393115942...
2       {"numstrings": 4, "avlength": 58.5, "printable...
3       {"numstrings": 1105, "avlength": 16.4371040723...
4       {"numstrings": 2018, "avlength": 13.9380574826...
                              ...
9995    {"numstrings": 8980, "avlength": 23.2523385300...
9996    {"numstrings": 2602, "avlength": 10.2882398155...
9997    {"numstrings": 2205, "avlength": 12.7360544217...
9998    {"numstrings": 804, "avlength": 9.580845771144...
9999    {"numstrings": 144, "avlength": 12.29861111111...
Name: Feature_Group_C, Length: 10000, dtype: object

In [13]:
modify_feature_group_C[0]

'{"numstrings": 655, "avlength": 6.077862595419847, "printabledist": [57, 37, 41, 41, 33, 27, 38, 35, 30, 23, 35, 35, 41, 20, 46, 33, 42, 21, 51, 37, 42, 36, 36, 34, 25, 27, 36, 32, 26, 24, 26, 30, 48, 61, 52, 61, 50, 50, 41, 44, 36, 33, 38, 27, 49, 46, 49, 58, 58, 52, 61, 60, 50, 39, 72, 42, 29, 39, 44, 27, 44, 28, 34, 46, 45, 60, 62, 52, 48, 69, 37, 39, 48, 64, 52, 38, 60, 42, 55, 70, 29, 20, 62, 54, 49, 55, 44, 32, 26, 32, 28, 30, 33, 23, 26, 32], "printables": 3981, "entropy": 6.519481182098389, "paths": 0, "urls": 0, "registry": 0, "MZ": 4}'

In [14]:
modify_feature_group_C[9999]

'{"numstrings": 144, "avlength": 12.29861111111111, "printabledist": [85, 2, 1, 0, 11, 0, 0, 0, 2, 0, 0, 3, 0, 12, 12, 1, 18, 4, 10, 6, 1, 1, 15, 2, 6, 3, 1, 1, 1, 0, 1, 0, 2, 18, 6, 20, 10, 15, 13, 22, 11, 6, 0, 2, 21, 11, 6, 4, 17, 9, 25, 35, 15, 15, 21, 22, 1, 20, 0, 20, 2, 22, 22, 23, 1, 79, 9, 35, 37, 158, 14, 22, 21, 89, 9, 2, 65, 26, 96, 89, 31, 0, 106, 42, 127, 40, 10, 4, 10, 9, 4, 0, 1, 0, 0, 0], "printables": 1771, "entropy": 5.356616020202637, "paths": 0, "urls": 0, "registry": 0, "MZ": 1}'

In [15]:
feature_group_c_df = pd.DataFrame(columns=['numstrings','avlength','printabledist','printables','entropy','paths','urls',
                                           'registry','MZ'])

for x in range(len(modify_feature_group_C)):
    temp = json.loads(modify_feature_group_C[x])
    temp2 = pd.DataFrame.from_dict(temp, orient='index')
    temp2 = temp2.T
    feature_group_c_df = pd.concat([temp2, feature_group_c_df], ignore_index=True)

In [16]:
feature_group_c_df.head()

,numstrings,avlength,printabledist,printables,entropy,paths,urls,registry,MZ
0,144,12.298611,"[85, 2, 1, 0, 11, 0, 0, 0, 2, 0, 0, 3, 0, 12, ...",1771,5.356616,0,0,0,1
1,804,9.580846,"[125, 43, 68, 20, 21, 25, 19, 22, 37, 38, 26, ...",7703,6.063542,0,0,0,6
2,2205,12.736054,"[957, 102, 85, 84, 119, 189, 178, 117, 40, 231...",28083,6.10705,9,0,0,6
3,2602,10.28824,"[748, 4, 0, 9, 178, 0, 49, 1, 53, 0, 0, 1, 60,...",26770,5.373013,8,0,0,1
4,8980,23.252339,"[4847, 116, 142, 115, 1090, 957, 136, 200, 454...",208806,5.775223,0,28,16,3

In [17]:
feature_group_c_df.tail()

,numstrings,avlength,printabledist,printables,entropy,paths,urls,registry,MZ
9995,2018,13.938057,"[1010, 88, 71, 112, 231, 200, 64, 104, 110, 87...",28127,5.940442,0,70,0,11
9996,1105,16.437104,"[455, 11, 66, 4, 49, 150, 21, 60, 19, 11, 60, ...",18163,5.766962,0,11,0,3
9997,4,58.5,"[7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, ...",234,3.811827,0,0,0,1
9998,3312,24.939312,"[5963, 67, 449, 124, 398, 49, 90, 154, 326, 21...",82599,5.83473,0,39,0,8
9999,655,6.077863,"[57, 37, 41, 41, 33, 27, 38, 35, 30, 23, 35, 3...",3981,6.519481,0,0,0,4

In [18]:
train_df = pd.concat([train_df, feature_group_c_df], axis=1)

In [19]:
train_df = train_df.drop(columns=['Feature_Group_C'], axis=1)

In [20]:
train_df.head()

,분석데이터,label,Feature_Group_A,Feature_Group_B,numstrings,avlength,printabledist,printables,entropy,paths,urls,registry,MZ
0,1,1,"[2399, 572, 519, 673, 555, 516, 558, 510, 709,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",144,12.298611,"[85, 2, 1, 0, 11, 0, 0, 0, 2, 0, 0, 3, 0, 12, ...",1771,5.356616,0,0,0,1
1,2,1,"[183376, 8477, 4514, 3921, 7260, 2869, 2414, 2...","[1008, 0, 0, 6, 9, 6, 3, 0, 0, 0, 3, 3, 9, 0, ...",804,9.580846,"[125, 43, 68, 20, 21, 25, 19, 22, 37, 38, 26, ...",7703,6.063542,0,0,0,6
2,3,0,"[1178, 28, 9, 6, 20, 4, 6, 0, 2, 2, 4, 3, 1, 3...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2205,12.736054,"[957, 102, 85, 84, 119, 189, 178, 117, 40, 231...",28083,6.10705,9,0,0,6
3,4,0,"[56851, 2625, 1520, 1351, 3266, 802, 1173, 681...","[14336, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",2602,10.28824,"[748, 4, 0, 9, 178, 0, 49, 1, 53, 0, 0, 1, 60,...",26770,5.373013,8,0,0,1
4,5,1,"[124274, 5778, 3669, 3595, 6210, 11804, 12076,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",8980,23.252339,"[4847, 116, 142, 115, 1090, 957, 136, 200, 454...",208806,5.775223,0,28,16,3

In [21]:
modify_feature_group_A = train_df['Feature_Group_A']

In [22]:
modify_feature_group_A[0]

'[2399, 572, 519, 673, 555, 516, 558, 510, 709, 640, 515, 854, 571, 675, 510, 511, 508, 485, 423, 432, 387, 393, 468, 428, 413, 382, 377, 422, 374, 366, 400, 401, 541, 444, 432, 422, 344, 360, 433, 327, 353, 289, 333, 362, 436, 344, 436, 383, 467, 366, 424, 436, 536, 405, 475, 437, 355, 388, 355, 419, 352, 337, 370, 335, 630, 629, 557, 545, 519, 478, 462, 496, 363, 395, 399, 375, 386, 510, 568, 402, 447, 425, 426, 384, 432, 364, 605, 394, 365, 390, 419, 430, 378, 343, 398, 420, 487, 389, 534, 452, 454, 558, 422, 392, 493, 499, 462, 348, 517, 455, 491, 484, 397, 280, 477, 481, 460, 447, 475, 332, 336, 294, 376, 284, 355, 312, 379, 354, 508, 435, 588, 525, 424, 442, 477, 355, 433, 389, 562, 476, 385, 474, 513, 376, 407, 307, 422, 301, 235, 283, 490, 289, 292, 301, 700, 358, 265, 271, 525, 283, 536, 501, 513, 483, 408, 422, 675, 381, 368, 250, 412, 352, 278, 377, 564, 301, 453, 426, 433, 389, 366, 372, 558, 408, 453, 475, 527, 568, 378, 443, 475, 504, 460, 436, 384, 357, 271, 301, 319, 306, 396, 330, 281, 314, 268, 328, 386, 333, 354, 340, 285, 340, 265, 272, 658, 274, 373, 357, 325, 408, 305, 349, 330, 398, 376, 323, 332, 266, 374, 241, 358, 274, 326, 387, 304, 496, 306, 342, 388, 345, 613, 574, 521, 491, 438, 374, 576, 440, 349, 263, 307, 315, 381, 328, 545, 1432]'

In [23]:
characters = "[] "

for x in range(len(modify_feature_group_A)):
    for y in range(len(characters)):
        modify_feature_group_A[x] = modify_feature_group_A[x].replace(characters[y],"")

print(modify_feature_group_A)

<ipython-input-23-515a0f107850>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  modify_feature_group_A[x] = modify_feature_group_A[x].replace(characters[y],"")

0       2399,572,519,673,555,516,558,510,709,640,515,8...
1       183376,8477,4514,3921,7260,2869,2414,2140,8056...
2       1178,28,9,6,20,4,6,0,2,2,4,3,1,3,4,0,19,3,1,0,...
3       56851,2625,1520,1351,3266,802,1173,681,3957,11...
4       124274,5778,3669,3595,6210,11804,12076,10340,5...
                              ...
9995    255044,17531,8711,7958,17524,7218,7336,5619,20...
9996    181296,5127,4027,5738,5468,1564,1349,4887,1247...
9997    68736,2344,1699,1073,1604,756,877,934,2196,908...
9998    90648,1338,964,1440,1677,2390,674,740,1383,782...
9999    14738,720,159,103,355,83,51,42,210,52,77,23,12...
Name: Feature_Group_A, Length: 10000, dtype: object

In [24]:
modify_feature_group_A[0]

'2399,572,519,673,555,516,558,510,709,640,515,854,571,675,510,511,508,485,423,432,387,393,468,428,413,382,377,422,374,366,400,401,541,444,432,422,344,360,433,327,353,289,333,362,436,344,436,383,467,366,424,436,536,405,475,437,355,388,355,419,352,337,370,335,630,629,557,545,519,478,462,496,363,395,399,375,386,510,568,402,447,425,426,384,432,364,605,394,365,390,419,430,378,343,398,420,487,389,534,452,454,558,422,392,493,499,462,348,517,455,491,484,397,280,477,481,460,447,475,332,336,294,376,284,355,312,379,354,508,435,588,525,424,442,477,355,433,389,562,476,385,474,513,376,407,307,422,301,235,283,490,289,292,301,700,358,265,271,525,283,536,501,513,483,408,422,675,381,368,250,412,352,278,377,564,301,453,426,433,389,366,372,558,408,453,475,527,568,378,443,475,504,460,436,384,357,271,301,319,306,396,330,281,314,268,328,386,333,354,340,285,340,265,272,658,274,373,357,325,408,305,349,330,398,376,323,332,266,374,241,358,274,326,387,304,496,306,342,388,345,613,574,521,491,438,374,576,440,349,263,307,315,381,328,545,1432'

In [25]:
len(modify_feature_group_A[x].split(','))

256

In [27]:
for x in range(len(modify_feature_group_A[x])):
    if len(modify_feature_group_A[x].split(',')) == 256:
        print("pass")
    else:
        print("Alert_Alert_Alert_Alert_Alert_Alert_Alert_Alert_")

pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass

In [135]:
feature_group_a_df = pd.DataFrame()

In [136]:
empty_list = []

for x in range(256):
    empty_list.append("a_%d" % (x))

print(empty_list)

['a_0', 'a_1', 'a_2', 'a_3', 'a_4', 'a_5', 'a_6', 'a_7', 'a_8', 'a_9', 'a_10', 'a_11', 'a_12', 'a_13', 'a_14', 'a_15', 'a_16', 'a_17', 'a_18', 'a_19', 'a_20', 'a_21', 'a_22', 'a_23', 'a_24', 'a_25', 'a_26', 'a_27', 'a_28', 'a_29', 'a_30', 'a_31', 'a_32', 'a_33', 'a_34', 'a_35', 'a_36', 'a_37', 'a_38', 'a_39', 'a_40', 'a_41', 'a_42', 'a_43', 'a_44', 'a_45', 'a_46', 'a_47', 'a_48', 'a_49', 'a_50', 'a_51', 'a_52', 'a_53', 'a_54', 'a_55', 'a_56', 'a_57', 'a_58', 'a_59', 'a_60', 'a_61', 'a_62', 'a_63', 'a_64', 'a_65', 'a_66', 'a_67', 'a_68', 'a_69', 'a_70', 'a_71', 'a_72', 'a_73', 'a_74', 'a_75', 'a_76', 'a_77', 'a_78', 'a_79', 'a_80', 'a_81', 'a_82', 'a_83', 'a_84', 'a_85', 'a_86', 'a_87', 'a_88', 'a_89', 'a_90', 'a_91', 'a_92', 'a_93', 'a_94', 'a_95', 'a_96', 'a_97', 'a_98', 'a_99', 'a_100', 'a_101', 'a_102', 'a_103', 'a_104', 'a_105', 'a_106', 'a_107', 'a_108', 'a_109', 'a_110', 'a_111', 'a_112', 'a_113', 'a_114', 'a_115', 'a_116', 'a_117', 'a_118', 'a_119', 'a_120', 'a_121', 'a_122', 'a_123', 'a_124', 'a_125', 'a_126', 'a_127', 'a_128', 'a_129', 'a_130', 'a_131', 'a_132', 'a_133', 'a_134', 'a_135', 'a_136', 'a_137', 'a_138', 'a_139', 'a_140', 'a_141', 'a_142', 'a_143', 'a_144', 'a_145', 'a_146', 'a_147', 'a_148', 'a_149', 'a_150', 'a_151', 'a_152', 'a_153', 'a_154', 'a_155', 'a_156', 'a_157', 'a_158', 'a_159', 'a_160', 'a_161', 'a_162', 'a_163', 'a_164', 'a_165', 'a_166', 'a_167', 'a_168', 'a_169', 'a_170', 'a_171', 'a_172', 'a_173', 'a_174', 'a_175', 'a_176', 'a_177', 'a_178', 'a_179', 'a_180', 'a_181', 'a_182', 'a_183', 'a_184', 'a_185', 'a_186', 'a_187', 'a_188', 'a_189', 'a_190', 'a_191', 'a_192', 'a_193', 'a_194', 'a_195', 'a_196', 'a_197', 'a_198', 'a_199', 'a_200', 'a_201', 'a_202', 'a_203', 'a_204', 'a_205', 'a_206', 'a_207', 'a_208', 'a_209', 'a_210', 'a_211', 'a_212', 'a_213', 'a_214', 'a_215', 'a_216', 'a_217', 'a_218', 'a_219', 'a_220', 'a_221', 'a_222', 'a_223', 'a_224', 'a_225', 'a_226', 'a_227', 'a_228', 'a_229', 'a_230', 'a_231', 'a_232', 'a_233', 'a_234', 'a_235', 'a_236', 'a_237', 'a_238', 'a_239', 'a_240', 'a_241', 'a_242', 'a_243', 'a_244', 'a_245', 'a_246', 'a_247', 'a_248', 'a_249', 'a_250', 'a_251', 'a_252', 'a_253', 'a_254', 'a_255']

In [137]:
for x in range(256):
    feature_group_a_df.insert(0, empty_list[x], [0])

In [138]:
feature_group_a_df

,a_255,a_254,a_253,a_252,a_251,a_250,a_249,a_248,a_247,a_246,...,a_9,a_8,a_7,a_6,a_5,a_4,a_3,a_2,a_1,a_0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [139]:
feature_group_a_df[empty_list]

,a_0,a_1,a_2,a_3,a_4,a_5,a_6,a_7,a_8,a_9,...,a_246,a_247,a_248,a_249,a_250,a_251,a_252,a_253,a_254,a_255
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [146]:
feature_group_a_df = pd.concat([modify_feature_group_A, feature_group_a_df], ignore_index=True)

In [148]:
feature_group_a_df.head()

,0,a_0,a_1,a_10,a_100,a_101,a_102,a_103,a_104,a_105,...,a_90,a_91,a_92,a_93,a_94,a_95,a_96,a_97,a_98,a_99
0,"2399,572,519,673,555,516,558,510,709,640,515,8...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"183376,8477,4514,3921,7260,2869,2414,2140,8056...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"1178,28,9,6,20,4,6,0,2,2,4,3,1,3,4,0,19,3,1,0,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"56851,2625,1520,1351,3266,802,1173,681,3957,11...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"124274,5778,3669,3595,6210,11804,12076,10340,5...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
for x in range(len(modify_feature_group_A)):
    temp= []
    temp.append(modify_feature_group_A[x].split(','))
    for y in range(len(temp)):

SyntaxError: unexpected EOF while parsing (<ipython-input-28-276a0d6e32e7>, line 2)

In [ ]:
for x in range(len(modify_feature_group_A)):
    for y in range()
    temp = json.loads(modify_feature_group_C[x])
    temp2 = pd.DataFrame.from_dict(temp, orient='index')
    temp2 = temp2.T
    feature_group_c_df = pd.concat([temp2, feature_group_c_df], ignore_index=True)

In [ ]:
qwer = train_df['Feature_Group_A'][0]

In [ ]:
characters = "[],"

for x in range(len(characters)):
    qwer = qwer.replace(characters[x],"")

print(qwer)

In [ ]:
qwer = qwer.split(' ')

In [ ]:
list1 = [57, 37, 41, 41, 33, 27, 38, 35, 30, 23, 35, 35, 41, 20, 46, 33, 42, 21, 51, 37, 42, 36, 36, 34, 25, 27, 36, 32, 26, 24, 26, 30, 48, 61, 52, 61, 50, 50, 41, 44, 36, 33, 38, 27, 49, 46, 49, 58, 58, 52, 61, 60, 50, 39, 72, 42, 29, 39, 44, 27, 44, 28, 34, 46, 45, 60, 62, 52, 48, 69, 37, 39, 48, 64, 52, 38, 60, 42, 55, 70, 29, 20, 62, 54, 49, 55, 44, 32, 26, 32, 28, 30, 33, 23, 26, 32]

In [ ]:
len(list1)

In [ ]:
list2 = [5963, 67, 449, 124, 398, 49, 90, 154, 326, 218, 65, 103, 491, 306, 802, 451, 1097, 727, 615, 602, 712, 633, 589, 508, 638, 529, 668, 759, 853, 531, 687, 738, 1020, 1084, 294, 733, 760, 831, 427, 336, 383, 782, 113, 83, 612, 327, 376, 542, 1055, 289, 527, 812, 883, 489, 558, 658, 314, 283, 145, 103, 223, 91, 99, 412, 244, 3157, 869, 1713, 1846, 5152, 913, 973, 1322, 2815, 321, 306, 2263, 990, 3001, 3620, 1423, 200, 3392, 2378, 4119, 1238, 438, 985, 806, 851, 113, 123, 181, 100, 75, 86]

In [ ]:
len(list2)