In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import json
import re

In [3]:
train_df = pd.read_csv("train.csv", encoding='euc-kr')
test_df = pd.read_csv("test.csv", encoding="euc-kr")
combine = [train_df, test_df]

In [4]:
train_df.shape

(10000, 5)

In [5]:
train_df.dtypes

분석데이터               int64
label               int64
Feature_Group_A    object
Feature_Group_B    object
Feature_Group_C    object
dtype: object

In [6]:
print(train_df.columns.values)

['분석데이터' 'label' 'Feature_Group_A' 'Feature_Group_B' 'Feature_Group_C']

In [7]:
train_df.head()

,분석데이터,label,Feature_Group_A,Feature_Group_B,Feature_Group_C
0,1,1,"[2399, 572, 519, 673, 555, 516, 558, 510, 709,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","{'numstrings': 655, 'avlength': 6.077862595419..."
1,2,1,"[183376, 8477, 4514, 3921, 7260, 2869, 2414, 2...","[1008, 0, 0, 6, 9, 6, 3, 0, 0, 0, 3, 3, 9, 0, ...","{'numstrings': 3312, 'avlength': 24.9393115942..."
2,3,0,"[1178, 28, 9, 6, 20, 4, 6, 0, 2, 2, 4, 3, 1, 3...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","{'numstrings': 4, 'avlength': 58.5, 'printable..."
3,4,0,"[56851, 2625, 1520, 1351, 3266, 802, 1173, 681...","[14336, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","{'numstrings': 1105, 'avlength': 16.4371040723..."
4,5,1,"[124274, 5778, 3669, 3595, 6210, 11804, 12076,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","{'numstrings': 2018, 'avlength': 13.9380574826..."

In [8]:
train_df.tail()

,분석데이터,label,Feature_Group_A,Feature_Group_B,Feature_Group_C
9995,9996,1,"[255044, 17531, 8711, 7958, 17524, 7218, 7336,...","[28672, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","{'numstrings': 8980, 'avlength': 23.2523385300..."
9996,9997,0,"[181296, 5127, 4027, 5738, 5468, 1564, 1349, 4...","[16384, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","{'numstrings': 2602, 'avlength': 10.2882398155..."
9997,9998,0,"[68736, 2344, 1699, 1073, 1604, 756, 877, 934,...","[42986, 0, 0, 0, 1, 5, 0, 1, 0, 2, 0, 1, 4, 1,...","{'numstrings': 2205, 'avlength': 12.7360544217..."
9998,9999,1,"[90648, 1338, 964, 1440, 1677, 2390, 674, 740,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","{'numstrings': 804, 'avlength': 9.580845771144..."
9999,10000,0,"[14738, 720, 159, 103, 355, 83, 51, 42, 210, 5...","[16325, 17, 3, 1, 2, 9, 2, 6, 5, 2, 7, 1, 1, 1...","{'numstrings': 144, 'avlength': 12.29861111111..."

In [9]:
train_df.info()
print('_'*40)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   분석데이터            10000 non-null  int64
 1   label            10000 non-null  int64
 2   Feature_Group_A  10000 non-null  object
 3   Feature_Group_B  10000 non-null  object
 4   Feature_Group_C  10000 non-null  object
dtypes: int64(2), object(3)
memory usage: 390.8+ KB
________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   분석대상             5000 non-null   int64
 1   Feature_Group_A  5000 non-null   object
 2   Feature_Group_B  5000 non-null   object
 3   Feature_Group_C  5000 non-null   object
dtypes: int64(1), object(3)
memory usage: 156.4+ KB

In [10]:
train_df.describe()

             분석데이터         label
count  10000.00000  10000.000000
mean    5000.50000      0.550000
std     2886.89568      0.497519
min        1.00000      0.000000
25%     2500.75000      0.000000
50%     5000.50000      1.000000
75%     7500.25000      1.000000
max    10000.00000      1.000000

In [11]:
a = [2399, 572, 519, 673, 555, 516, 558, 510, 709, 640, 515, 854, 571, 675, 510, 511, 508, 485, 423, 432, 387, 393, 468, 428, 413, 382, 377, 422, 374, 366, 400, 401, 541, 444, 432, 422, 344, 360, 433, 327, 353, 289, 333, 362, 436, 344, 436, 383, 467, 366, 424, 436, 536, 405, 475, 437, 355, 388, 355, 419, 352, 337, 370, 335, 630, 629, 557, 545, 519, 478, 462, 496, 363, 395, 399, 375, 386, 510, 568, 402, 447, 425, 426, 384, 432, 364, 605, 394, 365, 390, 419, 430, 378, 343, 398, 420, 487, 389, 534, 452, 454, 558, 422, 392, 493, 499, 462, 348, 517, 455, 491, 484, 397, 280, 477, 481, 460, 447, 475, 332, 336, 294, 376, 284, 355, 312, 379, 354, 508, 435, 588, 525, 424, 442, 477, 355, 433, 389, 562, 476, 385, 474, 513, 376, 407, 307, 422, 301, 235, 283, 490, 289, 292, 301, 700, 358, 265, 271, 525, 283, 536, 501, 513, 483, 408, 422, 675, 381, 368, 250, 412, 352, 278, 377, 564, 301, 453, 426, 433, 389, 366, 372, 558, 408, 453, 475, 527, 568, 378, 443, 475, 504, 460, 436, 384, 357, 271, 301, 319, 306, 396, 330, 281, 314, 268, 328, 386, 333, 354, 340, 285, 340, 265, 272, 658, 274, 373, 357, 325, 408, 305, 349, 330, 398, 376, 323, 332, 266, 374, 241, 358, 274, 326, 387, 304, 496, 306, 342, 388, 345, 613, 574, 521, 491, 438, 374, 576, 440, 349, 263, 307, 315, 381, 328, 545, 1432]

In [12]:
len(a)

256

In [13]:
b = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1843, 157, 133, 137, 183, 219, 300, 223, 200, 63, 49, 101, 117, 107, 106, 158, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 169, 148, 142, 148, 137, 157, 164, 222, 157, 131, 917, 755, 155, 139, 150, 405, 18387, 12997, 12154, 12567, 14994, 12764, 14134, 11491, 14357, 11245, 12666, 13568, 10658, 11016, 10611, 15287]

In [14]:
len(b)

256

In [15]:
train_df['Feature_Group_C']

0       {'numstrings': 655, 'avlength': 6.077862595419...
1       {'numstrings': 3312, 'avlength': 24.9393115942...
2       {'numstrings': 4, 'avlength': 58.5, 'printable...
3       {'numstrings': 1105, 'avlength': 16.4371040723...
4       {'numstrings': 2018, 'avlength': 13.9380574826...
                              ...
9995    {'numstrings': 8980, 'avlength': 23.2523385300...
9996    {'numstrings': 2602, 'avlength': 10.2882398155...
9997    {'numstrings': 2205, 'avlength': 12.7360544217...
9998    {'numstrings': 804, 'avlength': 9.580845771144...
9999    {'numstrings': 144, 'avlength': 12.29861111111...
Name: Feature_Group_C, Length: 10000, dtype: object

In [16]:
train_df['Feature_Group_C'][0]

"{'numstrings': 655, 'avlength': 6.077862595419847, 'printabledist': [57, 37, 41, 41, 33, 27, 38, 35, 30, 23, 35, 35, 41, 20, 46, 33, 42, 21, 51, 37, 42, 36, 36, 34, 25, 27, 36, 32, 26, 24, 26, 30, 48, 61, 52, 61, 50, 50, 41, 44, 36, 33, 38, 27, 49, 46, 49, 58, 58, 52, 61, 60, 50, 39, 72, 42, 29, 39, 44, 27, 44, 28, 34, 46, 45, 60, 62, 52, 48, 69, 37, 39, 48, 64, 52, 38, 60, 42, 55, 70, 29, 20, 62, 54, 49, 55, 44, 32, 26, 32, 28, 30, 33, 23, 26, 32], 'printables': 3981, 'entropy': 6.519481182098389, 'paths': 0, 'urls': 0, 'registry': 0, 'MZ': 4}"

In [17]:
abcd = train_df['Feature_Group_C'][0]

In [18]:
characters = "{}"

for x in range(len(characters)):
    abcd = abcd.replace(characters[x],"")

print(abcd)

'numstrings': 655, 'avlength': 6.077862595419847, 'printabledist': [57, 37, 41, 41, 33, 27, 38, 35, 30, 23, 35, 35, 41, 20, 46, 33, 42, 21, 51, 37, 42, 36, 36, 34, 25, 27, 36, 32, 26, 24, 26, 30, 48, 61, 52, 61, 50, 50, 41, 44, 36, 33, 38, 27, 49, 46, 49, 58, 58, 52, 61, 60, 50, 39, 72, 42, 29, 39, 44, 27, 44, 28, 34, 46, 45, 60, 62, 52, 48, 69, 37, 39, 48, 64, 52, 38, 60, 42, 55, 70, 29, 20, 62, 54, 49, 55, 44, 32, 26, 32, 28, 30, 33, 23, 26, 32], 'printables': 3981, 'entropy': 6.519481182098389, 'paths': 0, 'urls': 0, 'registry': 0, 'MZ': 4

In [19]:
abcd2 = train_df['Feature_Group_C'][0]

In [20]:
abcd2

"{'numstrings': 655, 'avlength': 6.077862595419847, 'printabledist': [57, 37, 41, 41, 33, 27, 38, 35, 30, 23, 35, 35, 41, 20, 46, 33, 42, 21, 51, 37, 42, 36, 36, 34, 25, 27, 36, 32, 26, 24, 26, 30, 48, 61, 52, 61, 50, 50, 41, 44, 36, 33, 38, 27, 49, 46, 49, 58, 58, 52, 61, 60, 50, 39, 72, 42, 29, 39, 44, 27, 44, 28, 34, 46, 45, 60, 62, 52, 48, 69, 37, 39, 48, 64, 52, 38, 60, 42, 55, 70, 29, 20, 62, 54, 49, 55, 44, 32, 26, 32, 28, 30, 33, 23, 26, 32], 'printables': 3981, 'entropy': 6.519481182098389, 'paths': 0, 'urls': 0, 'registry': 0, 'MZ': 4}"

In [21]:
characters = "\'"

for x in range(len(characters)):
    abcd2 = abcd2.replace(characters[x],"\"")

print(abcd2)

{"numstrings": 655, "avlength": 6.077862595419847, "printabledist": [57, 37, 41, 41, 33, 27, 38, 35, 30, 23, 35, 35, 41, 20, 46, 33, 42, 21, 51, 37, 42, 36, 36, 34, 25, 27, 36, 32, 26, 24, 26, 30, 48, 61, 52, 61, 50, 50, 41, 44, 36, 33, 38, 27, 49, 46, 49, 58, 58, 52, 61, 60, 50, 39, 72, 42, 29, 39, 44, 27, 44, 28, 34, 46, 45, 60, 62, 52, 48, 69, 37, 39, 48, 64, 52, 38, 60, 42, 55, 70, 29, 20, 62, 54, 49, 55, 44, 32, 26, 32, 28, 30, 33, 23, 26, 32], "printables": 3981, "entropy": 6.519481182098389, "paths": 0, "urls": 0, "registry": 0, "MZ": 4}

In [22]:
json.loads(abcd2)

{'numstrings': 655,
 'avlength': 6.077862595419847,
 'printabledist': [57,
  37,
  41,
  41,
  33,
  27,
  38,
  35,
  30,
  23,
  35,
  35,
  41,
  20,
  46,
  33,
  42,
  21,
  51,
  37,
  42,
  36,
  36,
  34,
  25,
  27,
  36,
  32,
  26,
  24,
  26,
  30,
  48,
  61,
  52,
  61,
  50,
  50,
  41,
  44,
  36,
  33,
  38,
  27,
  49,
  46,
  49,
  58,
  58,
  52,
  61,
  60,
  50,
  39,
  72,
  42,
  29,
  39,
  44,
  27,
  44,
  28,
  34,
  46,
  45,
  60,
  62,
  52,
  48,
  69,
  37,
  39,
  48,
  64,
  52,
  38,
  60,
  42,
  55,
  70,
  29,
  20,
  62,
  54,
  49,
  55,
  44,
  32,
  26,
  32,
  28,
  30,
  33,
  23,
  26,
  32],
 'printables': 3981,
 'entropy': 6.519481182098389,
 'paths': 0,
 'urls': 0,
 'registry': 0,
 'MZ': 4}

In [23]:
json.loads(abcd2)

{'numstrings': 655,
 'avlength': 6.077862595419847,
 'printabledist': [57,
  37,
  41,
  41,
  33,
  27,
  38,
  35,
  30,
  23,
  35,
  35,
  41,
  20,
  46,
  33,
  42,
  21,
  51,
  37,
  42,
  36,
  36,
  34,
  25,
  27,
  36,
  32,
  26,
  24,
  26,
  30,
  48,
  61,
  52,
  61,
  50,
  50,
  41,
  44,
  36,
  33,
  38,
  27,
  49,
  46,
  49,
  58,
  58,
  52,
  61,
  60,
  50,
  39,
  72,
  42,
  29,
  39,
  44,
  27,
  44,
  28,
  34,
  46,
  45,
  60,
  62,
  52,
  48,
  69,
  37,
  39,
  48,
  64,
  52,
  38,
  60,
  42,
  55,
  70,
  29,
  20,
  62,
  54,
  49,
  55,
  44,
  32,
  26,
  32,
  28,
  30,
  33,
  23,
  26,
  32],
 'printables': 3981,
 'entropy': 6.519481182098389,
 'paths': 0,
 'urls': 0,
 'registry': 0,
 'MZ': 4}

In [24]:
qwer = train_df['Feature_Group_A'][0]

In [25]:
characters = "[],"

for x in range(len(characters)):
    qwer = qwer.replace(characters[x],"")

print(qwer)

2399 572 519 673 555 516 558 510 709 640 515 854 571 675 510 511 508 485 423 432 387 393 468 428 413 382 377 422 374 366 400 401 541 444 432 422 344 360 433 327 353 289 333 362 436 344 436 383 467 366 424 436 536 405 475 437 355 388 355 419 352 337 370 335 630 629 557 545 519 478 462 496 363 395 399 375 386 510 568 402 447 425 426 384 432 364 605 394 365 390 419 430 378 343 398 420 487 389 534 452 454 558 422 392 493 499 462 348 517 455 491 484 397 280 477 481 460 447 475 332 336 294 376 284 355 312 379 354 508 435 588 525 424 442 477 355 433 389 562 476 385 474 513 376 407 307 422 301 235 283 490 289 292 301 700 358 265 271 525 283 536 501 513 483 408 422 675 381 368 250 412 352 278 377 564 301 453 426 433 389 366 372 558 408 453 475 527 568 378 443 475 504 460 436 384 357 271 301 319 306 396 330 281 314 268 328 386 333 354 340 285 340 265 272 658 274 373 357 325 408 305 349 330 398 376 323 332 266 374 241 358 274 326 387 304 496 306 342 388 345 613 574 521 491 438 374 576 440 349 263 307 315 381 328 545 1432

In [26]:
qwer = qwer.split(' ')

In [27]:
qwer

['2399',
 '572',
 '519',
 '673',
 '555',
 '516',
 '558',
 '510',
 '709',
 '640',
 '515',
 '854',
 '571',
 '675',
 '510',
 '511',
 '508',
 '485',
 '423',
 '432',
 '387',
 '393',
 '468',
 '428',
 '413',
 '382',
 '377',
 '422',
 '374',
 '366',
 '400',
 '401',
 '541',
 '444',
 '432',
 '422',
 '344',
 '360',
 '433',
 '327',
 '353',
 '289',
 '333',
 '362',
 '436',
 '344',
 '436',
 '383',
 '467',
 '366',
 '424',
 '436',
 '536',
 '405',
 '475',
 '437',
 '355',
 '388',
 '355',
 '419',
 '352',
 '337',
 '370',
 '335',
 '630',
 '629',
 '557',
 '545',
 '519',
 '478',
 '462',
 '496',
 '363',
 '395',
 '399',
 '375',
 '386',
 '510',
 '568',
 '402',
 '447',
 '425',
 '426',
 '384',
 '432',
 '364',
 '605',
 '394',
 '365',
 '390',
 '419',
 '430',
 '378',
 '343',
 '398',
 '420',
 '487',
 '389',
 '534',
 '452',
 '454',
 '558',
 '422',
 '392',
 '493',
 '499',
 '462',
 '348',
 '517',
 '455',
 '491',
 '484',
 '397',
 '280',
 '477',
 '481',
 '460',
 '447',
 '475',
 '332',
 '336',
 '294',
 '376',
 '284',
 '355',
 '312',
 '379',
 '354',
 '508',
 '435',
 '588',
 '525',
 '424',
 '442',
 '477',
 '355',
 '433',
 '389',
 '562',
 '476',
 '385',
 '474',
 '513',
 '376',
 '407',
 '307',
 '422',
 '301',
 '235',
 '283',
 '490',
 '289',
 '292',
 '301',
 '700',
 '358',
 '265',
 '271',
 '525',
 '283',
 '536',
 '501',
 '513',
 '483',
 '408',
 '422',
 '675',
 '381',
 '368',
 '250',
 '412',
 '352',
 '278',
 '377',
 '564',
 '301',
 '453',
 '426',
 '433',
 '389',
 '366',
 '372',
 '558',
 '408',
 '453',
 '475',
 '527',
 '568',
 '378',
 '443',
 '475',
 '504',
 '460',
 '436',
 '384',
 '357',
 '271',
 '301',
 '319',
 '306',
 '396',
 '330',
 '281',
 '314',
 '268',
 '328',
 '386',
 '333',
 '354',
 '340',
 '285',
 '340',
 '265',
 '272',
 '658',
 '274',
 '373',
 '357',
 '325',
 '408',
 '305',
 '349',
 '330',
 '398',
 '376',
 '323',
 '332',
 '266',
 '374',
 '241',
 '358',
 '274',
 '326',
 '387',
 '304',
 '496',
 '306',
 '342',
 '388',
 '345',
 '613',
 '574',
 '521',
 '491',
 '438',
 '374',
 '576',
 '440',
 '349',
 '263',
 '307',
 '315',
 '381',
 '328',
 '545',
 '1432']

In [28]:
list1 = [57, 37, 41, 41, 33, 27, 38, 35, 30, 23, 35, 35, 41, 20, 46, 33, 42, 21, 51, 37, 42, 36, 36, 34, 25, 27, 36, 32, 26, 24, 26, 30, 48, 61, 52, 61, 50, 50, 41, 44, 36, 33, 38, 27, 49, 46, 49, 58, 58, 52, 61, 60, 50, 39, 72, 42, 29, 39, 44, 27, 44, 28, 34, 46, 45, 60, 62, 52, 48, 69, 37, 39, 48, 64, 52, 38, 60, 42, 55, 70, 29, 20, 62, 54, 49, 55, 44, 32, 26, 32, 28, 30, 33, 23, 26, 32]

In [29]:
len(list1)

96

In [30]:
list2 = [5963, 67, 449, 124, 398, 49, 90, 154, 326, 218, 65, 103, 491, 306, 802, 451, 1097, 727, 615, 602, 712, 633, 589, 508, 638, 529, 668, 759, 853, 531, 687, 738, 1020, 1084, 294, 733, 760, 831, 427, 336, 383, 782, 113, 83, 612, 327, 376, 542, 1055, 289, 527, 812, 883, 489, 558, 658, 314, 283, 145, 103, 223, 91, 99, 412, 244, 3157, 869, 1713, 1846, 5152, 913, 973, 1322, 2815, 321, 306, 2263, 990, 3001, 3620, 1423, 200, 3392, 2378, 4119, 1238, 438, 985, 806, 851, 113, 123, 181, 100, 75, 86]

In [31]:
len(list2)

96